body {
background-color: orange;
}
p {
  float: left;
  font-weight: bolder;
}

button {
  float:left;

}

.pikachu img {
  float: none;
  width: 300px;
  height: 300px;
}

.rattata img {
  float: none;
  width: 300px;
  height: 300px;
}
